@import '/src/styles/settings';

.button {
	background-color: black;
	border: 1px solid black;
	color: white;
	font-size: $font-size-button;
	margin: 1rem 0;
	padding: 0.8rem;
	text-transform: uppercase;
	transition: background-color 0.3s ease-in;

	&:hover {
		background-color: lighten($color: black, $amount: 20);
	}

	&:disabled {
		background-color: lighten($color: black, $amount: 50);
		cursor: progress;
	}
}
