@import '/src/styles/settings';

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2rem;
  text-align: center;
  height: 100%;

  &__row {
    width: 100%;
  }

  &__close {
    font-size: $font-size-big-title;
    cursor: pointer;
    padding: 1rem;
    position: absolute;
    right: 0;
    top: 0;
  }
}