@import '/src/styles/settings';

.inputText {
	display: flex;
	flex-direction: column;
	margin: 0.5rem 0;

	&__label {
		font-size: $font-size-label;
	}

	&__input {
		padding: 0.5rem;
		border: solid 1px black;
		border-radius: 0;
	}
}
